{% load bootstrap4 %}
{% load static %}
{% load user_detail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block style %}
    {% endblock %}
{#    <link rel="stylesheet" href="{% static 'BS/bootstrap-4.3.1/dist/css/bootstrap.min.css' %}">#}
{#    <script src="{% static 'BS/bootstrap-4.3.1/dist/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'BS/bootstrap-4.3.1/popper.min.js' %}"></script>#}
{#    <script src="{% static 'BS/bootstrap-4.3.1/jquery.min.js' %}"></script>#}

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>{% block title %}Hobby{% endblock %}</title>
</head>
<body style="background-color: rgba(84,147,47,0.49)">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(14,135,0,0.9)">
    <a class="navbar-brand" href="{% url 'home' %}">Hobby</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:profile' %}">
            {% if user.is_authenticated %}
            Profile <span class="sr-only">(current)</span></a>
            {% endif %}
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
      </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'films:search' %}">Films</a>
      </li>
    </ul>

  <form class="form-inline mr-5" action="{% url 'accounts:find-people' %}" method="post">
      {% csrf_token %}

    <div class="input-group">
      <div class="input-group-prepend">
        <input type="submit" class="input-group-text" id="basic-addon1" value="Go">
      </div>
      <input type="text" name='query' class="form-control" placeholder="search in people" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>

  {% if user.is_authenticated %}
      <span class="navbar-text mr-5">

      Hi {{ user.name }} !
    </span>
  {% endif %}
    <span class="navbar-text">
        Hobby is a social network for Hobbies!
    </span>
  </div>
</nav>
<div class="container mt-5 pt-5">
    {% if msg %}
    {{ msg|alert_info|safe }}
    {% endif %}
    {% block body %}{% endblock %}
</div>
</body>
</html>