{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load movie_detail %}
{% block title %}
Film View
{% endblock %}
{% block body %}
    <div class="h1 text-center">{{ object.title }}<span class="badge badge-success badge-pill ml-3">{{ film.rating }}</span></div>
    <div class="container w-50 align-self-center">
        {% if film.top_250_films %}
            <div class="btn badge-danger">Top {{ film.top_250_films }}</div>
        {% endif %}
        <br>
        <div class="badge btn-primary text-left">Year</div><span class="badge badge-secondary ml-4">{{ film.year }}</span>
        <br>
        <div class="badge btn-primary text-left">Director</div><span class="badge badge-secondary ml-4">{{ film.director }}</span>
        <br>
        <div class="badge btn-primary text-left">Cast</div><span class="badge badge-secondary ml-4">{{ film.cast }}</span>
        <br>
        <div class="badge btn-primary text-left">Budget</div><span class="badge badge-secondary ml-4">{{ film.box_office }}</span>
        <br>
        <div class="badge btn-primary text-left">Writer</div><span class="badge badge-secondary ml-4">{{ film.writer }}</span>
        <br>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:add-to-watched' film.imdbId %}">
        <button class="btn btn-danger">+</button>
    </a>
    {% endif %}
    </div>

{% endblock %}