{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load bootstrap %}
{% block title %}
    Search Page
{% endblock %}
{% block body %}
    <form action="" method="post">
    {{ form|bootstrap }}
        {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Go">
    </form>
    <br>
    {% for id,title in list_of_movies %}
        <a href="{% url 'films:film-view' id %}">
        <p class="h1 text-center p-2 text-danger">{{title}}</p>
        </a>
    {% endfor %}
{% endblock %}